body
{
    background: url("https://raw.githubusercontent.com/CoderKaz/kykv20140818/master/images/BTRIOSJU_1724205.jpg"); 
    background-size: cover;
    font-size: 1.2em;
}
h1
{
    text-align:center;
}
@font-face
{
    
}

h6:hover
{
    background-color: black;
    color: yellow;
}
@media (max-width: 643px)
{
    .page
    {
        width:99%;
    }
    header
    {
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
    .about_pic
    {
        max-height: 200px;
        display:block;
        width: 100%;
    }
    table{
        font-size: 0.3em;
    }
}
.page
{
    text-align: center;
}
.directory:hover
{
    background-color: grey;
    color: orange;
    text-decoration: none;
}
.box
{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0.16em 0.16em 0.8em #888888;
    width: 15em;
    color: yellow;
    background-color: royalblue; 
    padding: 0.2em;
}
#submit
{
    color: grey;
}
.footer
{
    background-color: yellow;
    color: blue;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0.16em 0.16em 0.8em #888888;
    width: 15em;
}
.form
{
    color: black;
}